*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 625%; 
}
body{
    font-size: .15rem;
}
/* body a{
    color: black;
} */
.login-path{
    width: 100%;
    height: 0.4rem;
    background-color: white;
    border-bottom: .02rem solid #ccc;
}
.login-path p{
    line-height: 0.4rem;
    text-indent: .2rem;
}
.login-path a{
    text-decoration: none;
}
.login-path .login-home{
    font-weight: bold;
}
.header{
    width: 100%;
    text-align: center;
    position: relative;
}
.header .bg{
    width: 100%;
    vertical-align: top;
}
/* .header .mine-my{
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: start;
}
.header .mine-my li{
    margin:.1rem;
}
.header .mine-my li a{
    text-decoration: none;
    color: white;
}
.header .mine-my li img{
    width: 0.17rem;
} */
.header div{
    /* width: 100%; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-30%);
    display: flex;
    flex-direction: column;
}
.header div img{
    width: .7rem;
    margin-left: 50%;
    transform: translate(-50%);
}
.header div .login{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.06rem 0.2rem;
    margin: .1rem auto;
}
article{
    width: 100%;
}
article .mine-at{
   list-style: none;
} 
article .mine-at li{ 
    width: 86%;
    height: .5rem;
    position: relative;
    margin: 0 auto;
    padding-left: .25rem;
    border-bottom: 1px solid #ccc;
}
/* article .mine-at a{
    text-decoration: none;
} */
article .mine-at .mine-icon{
    width: 0.2rem;
    position: absolute;
    top: 0.16rem;
    left: 0rem;
}
article .mine-at p{
    display: inline-block;
    line-height: 0.5rem;
}
article .mine-at .mine-right{
    width: .08rem;
    float: right;
    margin: .18rem .08rem 0 0;
}
.button{
    width: 90%;
    /* height: 0.5rem; */
    margin: .2rem auto;
    display: none;
}
.button button{
    width: 100%;
    height: 0.5rem;
    color: #FF8A00;
    background-color: white;
    border: none;
    border: .01rem solid #ccc;
    /* margin: .2rem auto; */
}