.first{
    width: 100%;
    height: 0.4rem;
    background-color: white;
    line-height: 0.4rem;
    font-size: 0.16rem;
    color: rgb(80, 79, 79);
}
.first>span:nth-of-type(1){
    margin-left: 0.2rem;
    font-weight: bold;
}

.search{
    width: 100%;
    height: 0.7rem;
    background-size: 100%;
    position: relative;
}

.search>input{
    width: 80%;
    height: 0.4rem;
    text-indent: 0.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.11rem;
    background-size: 0.2rem;
    background-color: white;
}

.search img{
    width: 0.2rem;
    position: absolute;
    top: 38%;
    right: 15%;
    border-left: 2px solid #ccc;
    padding-left: 0.1rem;
}

/* todo title部分 */
.title{
    width: 100%;
    height: 0.5rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(112, 111, 111);
    position: relative;
}
.title h3{
    font-size: 0.18rem;
}
.title>li{
    width: 0.6rem;
    position: relative;
    text-align: center;
}
.orange{
    color: rgb(255,138,0);
}
.title .up{
    border-bottom: 0.04rem solid rgb(255,138,0);
    border-right: 0.04rem solid transparent;
    border-top: 0.04rem solid transparent;
    border-left: 0.04rem solid transparent;
    top: 0.01rem;
}
.title span{
    border-top: 0.04rem solid #ccc;
    border-right: 0.04rem solid transparent;
    border-bottom: 0.04rem solid transparent;
    border-left: 0.04rem solid transparent;
    position: absolute;
    top: 0.05rem;
    right: 0rem;
}

/* todo 下拉列表框 */
.out{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0.5rem;
    display: flex;
    flex-direction: column
}
.grey{
    width: 100%;
    background-color: rgba(77, 73, 73, 0.247);
    flex: 1;
}
.select1,.select2,.select3,.select4{
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.select1 .left{
    width: 0.9rem;
    text-align: center;
    color: rgb(105, 103, 103);
    background-color: rgb(243, 240, 240);
}
.select1 h3{
    font-size: 0.18rem;
    margin: 0.05rem 0;
}
.select1 p{
    color: rgb(105, 103, 103);
    font-size: 0.12rem;
    text-align: center;
    margin-bottom: 0.15rem;
    margin-right: 0.4rem;
}
.select2,.select3{
    flex-direction: column;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
}
.select2 p,.select3 p{
    height: 0.4rem;
    line-height: 0.4rem;
    color: rgb(105, 103, 103);
    border-bottom: 1px solid rgb(235, 233, 233);
}
.select3,.select4{
    padding-bottom: 0.1rem;
}
.select3 p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select3 p a,.select4 p{
    font-size: 0.12rem;
    color: rgb(105, 103, 103);
}
.select3 p span{
    width: 0.1rem;
    height: 0.1rem;
    border:  1px solid rgb(255,138,0);
    margin-right: 0.2rem;
}
.select3 button,.select4 button{
    height: 0.4rem;
    color: white;
    font-size: 0.13rem;
    border: none;
    background-color:rgb(255,138,0) ;
}
.select4{
    flex-direction: column;
    padding: 0 0.3rem 0.1rem;
}
.select4 .title_s{
    width: 100%;
    padding-bottom: 0.2rem;
    margin-top: 0.1rem;
    border-bottom: 1px solid rgb(235, 233, 233);
    /* display: flex; */
}
.select4 .title_s div{
    width: 100% ;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    /* position: relative; */
}
.select4 .title_s p{
    width: 0.5rem;
    font-size: 0.1rem;
    margin: 0.1rem 0.18rem 0 0;
    padding: 0.03rem 0.01rem 0.045rem;
    text-align: center;
    color: rgb(92, 90, 90);
    border: 1px solid rgb(163, 162, 162);
}
.select4>p{
    width: 100%;
    text-align: center;
    padding: 0.1rem 0;
}





/* todo 热门房源ul部分 */
#esf ul{
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    background-color: white;
}
#esf li{
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
#esf li>img{
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.1rem;
}
#esf li h3{
    font-size: 0.18rem;
}
#esf li>div{
    width: 2.1rem;
    line-height: 0.25rem;
}
#esf li>div>p{
    display: flex;
    justify-content: space-between;
}

#esf .acreage{
    font-size: 0.14rem;
}
#esf .hot_address>span:nth-of-type(2){
    color: rgb(255,138,0);
    font-weight: bold;
}
#esf .hot_address{
    font-size: 0.13rem;
    color: rgb(150, 147, 147);
}
#esf .hot_spe{
    margin-top: 0.1rem;
    font-size: 0.14rem;
    display: flex;
    color: rgb(255,138,0);
    justify-content: space-between;
}
#esf .hot_spe span:nth-of-type(1){
    padding: 0.01rem 0.05rem;
    border-radius: 3px;
    border: 2px solid rgb(101, 182, 76);
    color:rgb(101, 182, 76) ;
}