*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 625%;
}
body{
    font-size: .16rem;   
    background-color: #F5F5F5;
    /* font-family: 'MS UI Gothic'; */
}
body a{
    text-decoration: none;
    color: black;
}

.login-path{
    width: 100%;
    height: 0.4rem;
    background-color: white;
    border-bottom: .02rem solid #ccc;
}
.login-path p{
    line-height: 0.4rem;
    text-indent: .2rem;
}
.login-path .login-home{
    font-weight: bold;
}