<<<<<<< HEAD
/* 首页大图补充css */
.share{
    background: url(../src/rentalList/banner.png) no-repeat;
=======
<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 625%;
}
body{
    font-size: .16rem;   
    background-color: #F5F5F5;
    /* font-family: 'MS UI Gothic'; */
}
body a{
    text-decoration: none;
    color: black;
}

.login-path{
    width: 100%;
    height: 0.4rem;
    background-color: white;
    border-bottom: .02rem solid #ccc;
}
.login-path p{
    line-height: 0.4rem;
    text-indent: .2rem;
}
.login-path .login-home{
    font-weight: bold;
=======
/* 首页大图 */
.swip{
    width: 100%;
    height: 2.1rem;
    background: url(../src/SecondHandList/img.png) no-repeat;
>>>>>>> a3e00725935b64185327a611c81201166d109948
    background-size: 100%;
}

/* 大标题 */
.gz{
    display: flex;
    justify-content: space-between;
}   
.gz h3{
    width: 80%;
}
.gz p{
    width: 19%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    background: url(../src/rentalList/xin_n.png) no-repeat 50% 20%;
    background-size: 0.22rem;
}
.gz a{
    width: 100%;
    font-size: 0.14rem; 
}
/* 房源详细信息列表 */
.rental_lis li:nth-last-of-type(1){
    color: rgb(41, 41, 41);
    justify-content: flex-start;
}

.little_{
    margin: 0.2rem 0;
    display: flex;
    justify-content: space-evenly;
}
.little_ li{
    text-align: center;
}
.little_ li p{
    font-size: 0.13rem;
    color: rgb(41, 41, 41);
    margin-bottom: 0.1rem;
}
.little_ li span{
    color: rgb(255,138,0);
}

/* 经纪人房评和房源特色的margin值 */
.m{
    margin-bottom: 0.1rem;
}

/* 位置及周边 */
.map .in{
    padding: 0.1rem 0;
    border: 1px solid rgb(238, 234, 234);
}
.map .in h3{
    margin: 0 0 0.1rem 0.1rem;
}
/* 小区成交历史 */
.m a{
    color: rgb(255,138,0);

}

/* 联系经纪人 */
.call{
    width: 100%;
    height: 0.6rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.call img{
    width: 0.4rem;
    height: 0.4rem;
}
.call p{
    width: 1.5rem;
    margin-left: 0.2rem;
}
.call a{
    width: 0.5rem;
    height: 100%;
    padding-top: 0.4rem;
    text-align: center;
    box-sizing: border-box;
}
#call{
    background: url(../src/rentalList/icon1.png) no-repeat 50% 10%;
    background-size: 0.3rem;
    color: rgb(93,203,150);
}
<<<<<<< HEAD
#msg{
    background: url(../src/rentalList/icon2.png) no-repeat 50% 10%;
    background-size: 0.3rem;
    color: rgb(91,174,222);
=======
#list .hot_address{
    font-size: 0.13rem;
    color: rgb(150, 147, 147);
}
#list .hot_spe span,.type li>div>div>span{
    font-size: 0.12rem;
    color: rgb(148, 175, 180);
    height: 0.2rem;
    line-height: 0.2rem;
    margin-right: 0.1rem;
    background-color: rgb(239, 241, 241);
    padding: 0.02rem 0.05rem;
    border-radius: 5px;
>>>>>>> d2b2e459c536069b2c120fd4a19e4703796f7546
>>>>>>> a3e00725935b64185327a611c81201166d109948
}