.search{
    width: 100%;
    height: 0.7rem;
    background-size: 100%;
    position: relative;
}



.search>input{
    width: 80%;
    height: 0.4rem;
    text-indent: 0.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.11rem;
    background-size: 0.2rem;
    background-color: white;
}

.search img{
    width: 0.2rem;
    position: absolute;
    top: 38%;
    right: 15%;
    border-left: 2px solid #ccc;
    padding-left: 0.1rem;
}

/* todo title部分 */



/* todo 热门房源ul部分 */
#esf ul{
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    background-color: white;
}
#esf li{
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
#esf li>img{
    width: 1rem;
   margin-left: 0.1rem;
}
#esf li h3{
    font-size: 0.18rem;
}
#esf li>div{
    width: 2.1rem;
    line-height: 0.3rem;
}
#esf li>div>p{
    display: flex;
    justify-content: space-between;
}
#esf li>div>p:nth-of-type(3){
    justify-content: flex-start;
}
#esf .acreage{
    font-size: 0.14rem;
}
#esf .hot_address>span:nth-of-type(2){
    color: rgb(255,138,0);
    font-weight: bold;
}
#esf .hot_address{
    font-size: 0.13rem;
    color: rgb(150, 147, 147);
}
#esf .hot_spe{
    font-size: 0.12rem;
    color: rgb(148, 175, 180);
}
#esf .hot_spe span{
    height: 0.2rem;
    line-height: 0.2rem;
    margin-right: 0.1rem;
    background-color: rgb(239, 241, 241);
    padding: 0.02rem 0.05rem;
    border-radius: 5px;
}





